.button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;

  &--primary {
    padding: 7px 44px;
    border: none;
    background-color: $basic-green;
  }

  &--secondary {
    padding: 10px 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    background-color: $basic-grey;
    color: $dark-grey;
  }
}