.card__wrapper {
  display: flex;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.card__image {
  display: block;
  padding: 14px 36px 0;

  &--big {
    padding: 6px 28px 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -45px;
    left: calc(50% - (162px/2));
    min-width: 161px;
    min-height: 174px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding: 0;

    &--big {
      top: -67px;
      left: calc(50% - (168px/2));
      min-height: 200px;
      min-width: 168px;
      margin-bottom: 6px;
    }
  }
}