.card-more__container {
  padding: 70px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.card-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding: 0 35px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 17px;
  }
}

.card-more__description {
  margin: 0;
  margin-bottom: 21px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 18px;
  }
}