.card-more__container {
  position: relative;
  padding: 58px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.card-more__decore {
  position: absolute;
  top: 15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    top: -90px;
    left: calc(50% - 30px);

    &::after {
      width: 60px;
    }
  }
}

.card-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding: 0 35px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 17px;
  }
}

.card-more__description {
  margin: 0;
  margin-bottom: 21px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}