.comment-about {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.comment-about__title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.comment-about__text {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px 10px 15px;
  border: 1px solid #E7E7E7;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  resize: none;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}