.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  &--decore {
    background-color: #eaeaea;
  }

  @media (min-width: $tablet-width) {
    padding: 60px 70px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 28%;
    position: absolute;
    top: 20%;
    left: calc((100vw - 1220px)/2);
    padding: 56px 80px;
    z-index: 1;
    background-color: $white;
  }
}

.contacts__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    flex-basis: 30%;
    font-size: 20px;
    line-height: 26px;
  }

}

.contacts__adress {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    flex-basis: 30%;
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    & span {
      display: block;
      margin-top: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 39%;
    text-align: start;
  }
}



.contacts__map-google {
  display: block;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  &--nojs {


    background-image: url("../../img/contant/map-small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width:$tablet-width) {
      background-image: url('../../img/contant/map-medium.jpg');
    }

    @media (min-width: $desktop-width) {
      background-image: url('../../img/contant/map-large.jpg');
    }
  }

}