.contacts__slogan {
  font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #111111;
}

.contacts__adress {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}