.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__name {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}