.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__name {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright__logo {
  fill: #666666;

  .copyright__link:hover & {
    fill: $basic-green;
  }

  .copyright__link:active & {
    fill: $basic-green;
    opacity: 0.3;
  }
}

.copyright__name {
  .copyright__link:active & {
    opacity: 0.3;
  }
}
