.data-cat__container {
  padding: 0 20px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 72px;
  }
}

.data-cat__field {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.data-cat__title {
  margin-right: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}