.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }
}

.example__decore-wrapper {
  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__container {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    @include container;
  }
}

.example__result-container {

  @media (min-width: $tablet-width) {
    padding: 0 30px 255px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }

}

.example__title-container {

  margin-bottom: 40px;
  padding: 25px 20px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    margin-top: 43px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    @include container;
  }
}

.example__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 99%;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 72%;
    padding-top: 70px;
    margin-bottom: 70px;
  }
}

.example__expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    flex-basis: 25%;
    display: block;
    margin: 0;
    margin-top: 11px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 70px;
    flex-basis: 55%;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.example__result-wrapp {
  display: flex;
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    flex-basis: 80%;
    margin-bottom: 60px;
  }
}

.example__slider-container {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 366px 0 56px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 361px 0 0 0;
  }
}