.example__container {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.example__expenses {
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.example__result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}