.input {
  width: 100%;
  padding: 14px 30px 14px 14px;
  border: 1px solid #e7e7e7;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $dark-grey;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $dark-grey;
  }
}
