.intro__container {
  @include container;
}

.intro__wrapper {
  padding: 23px 35px 164px;
  position: relative;
  background-image: url('../img/background/background-cat-small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    padding: 0 237px 0 120px;
    background-image: none;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 0;
    margin-top: 37px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding: 0 116px 0 80px;
  }
}

.intro__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}

.intro__image {
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;

  @media (min-width: $tablet-width) {
    min-width: 709px;
    min-height: 609px;
    z-index: -1;
    top: 125%;
  }

  @media (min-width: $desktop-width) {
    min-width: 552px;
    min-height: 499px;
    z-index: 1;
    left: 72%;
    top: -50%;
  }
}

.intro__link-container {
  padding: 135px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 29px 374px 526px 91px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 267px;
    padding: 0;
    padding-left: 80px;
  }
}

.intro__link {
  @media (min-width: $desktop-width) {
    width: 40%;
  }
}