.main-header__container {
  @media (min-width: $tablet-width) {
    padding: 24px 30px 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 74px;

    @include container;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }
  @media (min-width: $desktop-width) {
    margin-right: 100px;
  }

  .nojs & {
    width: 70%;
  }
}

.main-header__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
  @media (min-width: $tablet-width) {
    &:first-child {
      margin-right: 12px;
    }
  }
}

.main-header__button {
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  .nojs & {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo {
  @media (max-width: $mobile-width-only) {
    &--visible-tablet {
      display: none;
    }

    &--visible-desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--visible-mobile {
      display: none;
    }

    &--visible-tablet {
      display: block;
    }

    &--visible-desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      width: 118px;
      height: 21px;
      margin-top: 10px;
    }

    &--visible-mobile {
      display: none;
    }

    &--visible-tablet {
      display: none;
    }

    &--visible-desktop {
      display: block;
    }
  }
}
