.main-form__container {
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 0 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    // @include container;
  }
}

.main-form__title-container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    @include container;
  }
}

.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.main-form__description-container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    @include container;
  }
}

.main-form__description {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 52%;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 27%;
  }
}