.main-header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px;
  align-items: center;
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 70%;
  justify-content: space-between;
}

