.main-nav {
  @media (max-width: $mobile-width-only) {
    padding: 10px 20px 17px;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (max-width: $mobile-width-only) {
    position: relative;
    z-index: 2;

    &--opened .main-nav__list:last-child {
      border-bottom: 1px solid #e6e6e6;
    }

    &--opened .main-nav__container {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.main-nav--opened .main-header__button {
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 20px;
    width: 25px;
    height: 1.5px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__container {
  display: none;

  .nojs & {
    display: block;
  }

  .main-nav--opened & {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 8px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $white;

      &::before {
        display: block;
        content: '';
        top: 0;
        right: 0;
        max-height: 694px;
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: -1;
        background-image: url('../../img/background/background-cat-large.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
        background-color: $basic-green;

        @media (min-resolution: 2dppx) {
          background-image: url('../../img/background/background-cat-large@2x.jpg');
        }
      }
    }
  }
}

.main-nav__item {
  padding: 20px 0 21px;
  list-style: none;
  text-align: center;

  &:hover {
    opacity: 0.6;

    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      opacity: 0.3;
    }
  }
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &:not(:last-child) {
      margin-right: 33px;
    }

    &--active {
      position: relative;
    }

    &--active::before {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &--active-index::before {
      background-color: $white;
    }
  }
}

.main-nav__link {
  font-weight: 500;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  // &:hover {
  //   opacity: 0.6;
  //   &::backdrop
  // }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    .main-nav__list--index & {
      color: $white;
    }
  }
}
