.other-product__container {
  @media (min-width:$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width:$desktop-width) {
    flex-grow: 1;
    justify-content: start;
    align-items: center;
  }
}

.other-product__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    flex-basis: 26%;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-basis: 37%;
  }
}

.other-product__details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-basis: 55%;
    margin: 0;
  }
}

.other-product__details {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &--position {
      margin-left: 49px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.other-product__button {
  @media (min-width:$desktop-width) {
    flex-basis: 27.3%;
  }
}