.programm {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 82px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 52px 55px;
    margin-bottom: 71px;
  }
}

.programm__title {
  padding-left: 70px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programm__description {
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.programm__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}