.programm {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 77px 61px 82px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 55px;
    margin-bottom: 71px;
  }
}

.programm__title-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    // position: relative;
  }
}

.programm__title {
  order: 2;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
  }
}

.programm__slim {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 19px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 25%;
    left: 63%;
    width: 200px;
    height: 200px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-bottom: 39px;
    margin-right: 62px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 50px;
    bottom: 3px;
    left: 10px;
    background-image: url('../../img/black-cat.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      bottom: 18px;
      left: 32px;
      width: 140px;
      height: 194px;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      bottom: 8px;
      left: 13px;
      width: 70px;
      height: 97px;
      background-size: contain;
    }
  }
}

.programm__weight {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 19px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 25%;
    left: 63%;
    width: 200px;
    height: 200px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-bottom: 39px;
    margin-right: 62px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    bottom: 12px;
    left: -12px;
    background-image: url('../../img/black-pantera.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      bottom: 56px;
      left: -38px;
      width: 268px;
      height: 112px;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      bottom: 22px;
      left: -18px;
      width: 134px;
      height: 56px;
      background-size: contain;
    }
  }
}

.programm__description {
  margin: 0;
  padding-bottom: 22px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    width: 55%;
    margin-bottom: 48px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.programm__link {
  display: inline-block;
  margin-top: 22px;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    border: none;
  }
}

.programm__link-icon {
  margin-left: 17px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}