.programms-cat {
  @media (max-width: $mobile-width-only) {
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.programms-cat__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    margin-bottom: 65px;
    border: 1px solid #e7e7e7;
  }
}

.programms-cat__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programms-cat__field {
  display: flex;
  align-items: center;
}

.programms-cat__item:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.programms-cat__marker {
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.programms-cat__input:checked + .programms-cat__marker::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }
}

.programms-cat__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programms-cat__input {
  &:disabled ~ .programms-cat__marker,
  &:disabled ~ .programms-cat__description {
    opacity: 0.3;
  }
}
