.programms-cat__container {
  padding: 20px 20px 20px 45px;
}

.programms-cat__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programms-cat__item:not(:last-child) {
  margin-bottom: 13px;
}

.programms-cat__description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}