.social-networks {
  padding: 20px 74px;
  margin-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
}

.social-networks__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks__item:not(:last-child) {
  margin-right: 24px;
}

.social-networks__logo {
  fill: #666666;

  .social-networks__link:hover & {
    fill: $basic-green;
  }

  .social-networks__link:active & {
    fill: $basic-green;
    opacity: 0.3;
  }
}
