// Colors

$white: #ffffff;
$black: #000000;
$dark-grey: #444444;
$basic-grey: #F2F2F2;
$basic-green: #68B738;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

@mixin container {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}